<div class="sizing">
  <div class="card w-100">
    <p class="card-header">Collection Details</p>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Collection Name</th>
            <th scope="col">Estd No of Documents</th>
            <th scope="col">Estd Documents in memory</th>
            <th scope="col">Estd No of indexes</th>
            <th scope="col">Avg Documents size</th>
            <th scope="col">Estd data size</th>
            <th scope="col">Estd index size</th>
            <th scope="col">Estd storage size</th>
            <th scope="col">Estd memory requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#collection of mongo.collections">
            <td>{{collection.name}}</td>
            <td>{{collection.numberOfDocument | number}}</td>
            <td>{{collection.numberOfDocumentInMemory | number}}</td>
            <td>{{collection.indexes.length | number}}</td>
            <td>{{mongo.formatSize(collection.averageDocumentSize)}}</td>
            <td>{{mongo.formatSize(collection.dataSize)}}</td>
            <td>{{mongo.formatSize(collection.indexSize)}}</td>
            <td>{{mongo.formatSize(collection.storageSize)}}</td>
            <td>{{mongo.formatSize(collection.memoryRequirement)}}</td>
          </tr>
        </tbody>
        <!-- <tfoot>
          <tr></tr>
          <tr class="table-success" style="font-weight:bold">
            <th>All</th>
            <th>{{totalDocuments | number}}</th>
            <th>{{totalDocumentsInMemory | number}}</th>
            <th>{{totalIndexes | number}}</th>
            <th>{{mongo.formatSize(totalAverageDocumentSize)}}</th>
            <th>{{mongo.formatSize(totalDataSize)}}</th>
            <th>{{mongo.formatSize(totalIndexSize)}}</th>
            <th>{{mongo.formatSize(totalStorageSize)}}</th>
            <th>{{mongo.formatSize(totalMemoryRequirement)}}</th>
          </tr>
        </tfoot> -->
      </table>
    </div>
  </div>
  <div class="card mt-2 w-100">
    <p class="card-header">Summary</p>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Total Estd No of Documents</th>
            <th scope="col">Total Estd Documents in memory</th>
            <th scope="col">Total Estd No of indexes</th>
            <th scope="col">Total Avg Documents size</th>
            <th scope="col">Total Estd data size</th>
            <th scope="col">Total Estd index size</th>
            <th scope="col">Total Estd storage size</th>
            <th scope="col">Total Estd memory requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{mongo.summary.totalDocuments | number}}</td>
            <td>{{mongo.summary.totalDocumentsInMemory | number}}</td>
            <td>{{mongo.summary.totalIndexes | number}}</td>
            <td>{{mongo.formatSize(mongo.summary.totalAverageDocumentSize)}}</td>
            <td>{{mongo.formatSize(mongo.summary.totalDataSize)}}</td>
            <td>{{mongo.formatSize(mongo.summary.totalIndexSize)}}</td>
            <td>{{mongo.formatSize(mongo.summary.totalStorageSize)}}</td>
            <td>{{mongo.formatSize(mongo.summary.totalMemoryRequirement)}}</td>
          </tr>
        </tbody>
        <!-- <tfoot>
          <tr></tr>
          <tr class="table-success" style="font-weight:bold">
            <th>All</th>
            <th>{{totalDocuments | number}}</th>
            <th>{{totalDocumentsInMemory | number}}</th>
            <th>{{totalIndexes | number}}</th>
            <th>{{mongo.formatSize(totalAverageDocumentSize)}}</th>
            <th>{{mongo.formatSize(totalDataSize)}}</th>
            <th>{{mongo.formatSize(totalIndexSize)}}</th>
            <th>{{mongo.formatSize(totalStorageSize)}}</th>
            <th>{{mongo.formatSize(totalMemoryRequirement)}}</th>
          </tr>
        </tfoot> -->
      </table>
    </div>
  </div>
  <div class="card mt-2 w-100">
    <p class="card-header">Shard Details</p>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Shard Number</th>
            <th scope="col">Estd No of Documents</th>
            <th scope="col">Estd No of indexes</th>
            <th scope="col">Estd data size</th>
            <th scope="col">Estd index size</th>
            <th scope="col">Estd storage size</th>
            <th scope="col">Estd memory requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#shard of mongo.getShards()">
            <td>{{shard.id + 1}}</td>
            <td>{{(mongo.numberOfDocument / mongo.shards) | number}}</td>
            <td>{{(mongo.numberOfIndexes)}}</td>
            <td>{{mongo.formatSize(mongo.dataSize / mongo.shards)}}</td>
            <td>{{mongo.formatSize(mongo.indexSize / mongo.shards)}}</td>
            <td>{{mongo.formatSize(mongo.storageSize / mongo.shards)}}</td>
            <td>{{mongo.formatSize(mongo.memoryRequirement / mongo.shards)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>