<div class="dashborad">
  <nav class="navbar navbar-expand-lg navbar-dark bg-light border-bottom">
    <div class="d-flex justify-content-between w-100 align-items-center">
      <div class="d-flex" style="width: 110px;">
        <img src="./../../assets/PeerIslands-Logo_Color_RGB-e1574207497308.png" class="logo peerislands-logo pr-2" />
        <img src="./../../assets/mongodb-logo.png" class="logo pl-2" />
      </div>
      <div><h4 class="text-success">MSIZER</h4></div>
      <div class="dropleft">
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span><i class="fa fa-cog"></i></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#newCollection"><i class="fa fa-plus"></i>
            New Collection</a>
          <a *ngIf="mongo.collections.length > 0" class="dropdown-item" href="#" (click)='save()'><i
              class="fa fa-file"></i> Save Project</a>
          <a *ngIf="mongo.collections.length <= 0" class="dropdown-item" href="#" (click)='load()'><i
              class="fa fa-file"></i> Load Project</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="d-flex" style="height: calc(100vh - 63px);">
    <div class="side-menu border-right" style="width: 350px;">
      <p class="config-header border-bottom text-center m-0 p-3">DB SETTINGS</p>
      <mdb-configuration>Loading...</mdb-configuration>
    </div>
    <div class="w-100">

      <div class="d-flex justify-content-center align-items-center h-100" *ngIf="mongo.collections.length == 0">
        <div class="text-center cursor-pointer" data-toggle="modal" data-target="#newCollection">
          <div class="mb-2"><i class="fa fa-5 fa-5x fa-file-text-o"></i></div>
          <div>New Collection</div>
          <p class="text-muted">Please click on new collection to create a document schema and calculate the size of the document</p>
        </div>
      </div>

      <div *ngIf="mongo.collections.length > 0">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-collection-tab" data-toggle="tab" href="#nav-collection"
              role="tab" aria-controls="nav-collection" aria-selected="true">Collection</a>
            <a class="nav-item nav-link" id="nav-sizing-tab" data-toggle="tab" href="#nav-sizing" role="tab"
              aria-controls="nav-sizing" aria-selected="false">Sizing</a>
          </div>
        </nav>
        <div class="tab-content p-2" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-collection" role="tabpanel"
            aria-labelledby="nav-collection-tab">
            <!-- <button type="button" class="btn btn-dark pull-right" data-toggle="modal" data-target="#newCollection">
              <i class="fa fa-plus"></i> New Collection</button> -->

            <div class="list-group" *ngFor="#collection of mongo.collections">
              <button type="button" class="list-group-item list-group-item-action"
                [class.text-success]="activeAccordion === collection.name"
                (click)="activeAccordion = (activeAccordion === collection.name ? null : collection.name)">
                <span *ngIf="activeAccordion !== collection.name"><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></span>
                <span *ngIf="activeAccordion === collection.name"><i class="fa fa-chevron-down"
                    aria-hidden="true"></i></span>
                {{collection.name}}
              </button>
              <div class="content" *ngIf="activeAccordion === collection.name">
                <mdb-collection [collection]="collection">Loading...</mdb-collection>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="nav-sizing" role="tabpanel" aria-labelledby="nav-sizing-tab">
            <mdb-sizing>Loading...</mdb-sizing>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newCollection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLongTitle">New collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mdb-newentry #newCollection>Loading</mdb-newentry>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button (click)="newCollection.save()" data-dismiss="modal" type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>