<div class="sizing">
  <div class="card w-100">
    <p class="card-header">Collection Details</p>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Collection Name</th>
            <th scope="col">Estd No of Documents</th>
            <th scope="col">Estd Documents in memory</th>
            <th scope="col">Estd No of indexes</th>
            <th scope="col">Avg Documents size</th>
            <th scope="col">Estd data size</th>
            <th scope="col">Estd index size</th>
            <th scope="col">Estd storage size</th>
            <th scope="col">Estd memory requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#collection of mongo.collections">
            <td>{{collection.name}}</td>
            <td>{{collection.numberOfDocument | number}}</td>
            <td>{{collection.numberOfDocumentInMemory | number}}</td>
            <td>{{collection.indexes.length | number}}</td>
            <td>{{mongo.formatSize(collection.averageDocumentSize)}}</td>
            <td>{{mongo.formatSize(collection.dataSize)}}</td>
            <td>{{mongo.formatSize(collection.indexSize)}}</td>
            <td>{{mongo.formatSize(collection.storageSize)}}</td>
            <td>{{mongo.formatSize(collection.memoryRequirement)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card mt-2 w-100">
    <p class="card-header">Shard Details</p>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Shard Number</th>
            <th scope="col">Estd No of Documents</th>
            <th scope="col">Estd No of indexes</th>
            <th scope="col">Estd data size</th>
            <th scope="col">Estd index size</th>
            <th scope="col">Estd storage size</th>
            <th scope="col">Estd memory requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#shard of mongo.getShards()">
            <td>{{shard.id + 1}}</td>
            <td>{{(mongo.numberOfDocument / mongo.shards) | number}}</td>
            <td>{{(mongo.numberOfIndexes)}}</td>
            <td>{{mongo.formatSize(mongo.dataSize / mongo.shards)}}</td>
            <td>{{mongo.formatSize(mongo.indexSize / mongo.shards)}}</td>
            <td>{{mongo.formatSize(mongo.storageSize / mongo.shards)}}</td>
            <td>{{mongo.formatSize(mongo.memoryRequirement / mongo.shards)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>