<div class="configuration p-3">
  <div class="form-group">
    <label>Shard Count</label>
    <input class="form-control" type="number" [(ngModel)]="mongo.shards" min="1" placeholder="Number of Shards">
  </div>
  <div class="form-group">
    <label>Storage Engine</label>
    <select class="form-control" [(ngModel)]="mongo.engine"
      (change)="mongo.engine = $event.target.value; mongo.compute()">
      <option *ngFor="#engine of engines" value="{{engine}}">{{engine}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Compression</label>
    <select class="form-control" [(ngModel)]="mongo.compression"
      (change)="mongo.compression = $event.target.value; mongo.compute()">
      <option *ngFor="#compression of compressions" value="{{compression}}">{{compression}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Oplog Size GB</label>
    <input class="form-control" type="number" [(ngModel)]="mongo.oplog" min="1" (change)="mongo.compute()" />
  </div>
</div>