<div class="collection">
  <div class="d-flex p-2 justify-content-between">

    <div class="card w-100">
      <p class="card-header">Sample Document</p>
      <div class="card-body">
        <div class="cursor-pointer" data-toggle="modal" data-target="#editIndex">
          <pre class="bg-light document-html" innerHTML="{{syntaxHighlight(collection.json)}}"></pre>
        </div>
      </div>
    </div>

    <div class="card ml-2 w-100">
      <p class="card-header">Indexes</p>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Index</th>
              <th scope="col">Bytes</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#index of collection.indexes">
              <td>
                <pre innerHTML="{{syntaxHighlight(index.json)}}"></pre>
              </td>
              <td>{{mongo.formatSize(index.averageKeySize)}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#addIndex"><i
                    class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-light btn-sm" (click)="collection.removeIndex(index.json)"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ml-2 w-100">
      <div class="card">
        <p class="card-header">Statistics</p>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <div><label class="text-right middle">Average document size</label></div>
            <div><input class="form-control" type='text' readonly
                [value]="mongo.formatSize(collection.averageDocumentSize)" /></div>
          </div>
          <div class="d-flex justify-content-between mb-1">
            <div><label class="text-right middle">Number of document</label></div>
            <div><input class="form-control" type='number' min="1" [(ngModel)]="collection.numberOfDocument" /></div>
          </div>
          <div class="d-flex justify-content-between mb-1">
            <div><label class="text-right middle">Documents in memory</label></div>
            <div><input class="form-control" type='number' min="1" [(ngModel)]="collection.numberOfDocumentInMemory" />
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-1">
        <p class="card-header">Sizing</p>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div><label class="text-right middle">Estimated data size</label></div>
            <div>
              <p>{{mongo.formatSize(collection.dataSize)}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div><label class="text-right middle">Estimated index size</label></div>
            <div>
              <p>{{mongo.formatSize(collection.indexSize)}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div><label class="text-right middle">Estimated documents storage size</label></div>
            <div>
              <p>{{mongo.formatSize(collection.storageSize)}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div><label class="text-right middle">Estimated collection storage size</label>
            </div>
            <div>
              <p>{{mongo.formatSize(collection.totalStorageSize)}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div><label class="text-right middle">Estimated memory usage</label></div>
            <div>
              <p>{{mongo.formatSize(collection.memoryRequirement)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addIndex" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLongTitle">New Index</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mdb-newindex #newIndex [collection]="collection">Loading</mdb-newindex>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button (click)="newIndex.save()" data-dismiss="modal" type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editIndex" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLongTitle">Edit sample document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mdb-editdocument #editdocument [collection]="collection">Loading</mdb-editdocument>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button (click)="editdocument.save()" data-dismiss="modal" type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>